.button {
  display: inline-block;
  width=80px;
  height=100px;
}

hr {
  border: 0;
  width: 20%;               
  background-color: black;
  height: 1px;
}

.title {
	margin: 10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.tableauPlaceholder {
  padding-top: 0px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 0px;
}

img.center {
  display: block;
  margin: 0 auto;
  width: 10%;
  height: 10%;
}
