.button {
  display: inline-block;
  width=80px;
  height=100px;
}

hr {
  border: 0;
  width: 20%;               
  background-color: yellow;
  height: 1px;
}

.title {
	margin: 10px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

tableauPlaceholder {
  width: 20%;
}
